### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [2]:
player_num=len(purchase_data["SN"].unique())
playerbase_df=pd.DataFrame({'Total players':[player_num]})
playerbase_df

   Total players
0            576

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
ave_price = round(purchase_data["Price"].mean(), 2)
total_rev = purchase_data["Price"].sum()
purchasing_df = pd.DataFrame({"Number of Unique Items":[len(purchase_data["Item Name"].unique())], 
                             "Average Price": '$'+ str(ave_price), 
                             "Number of Purchases": [len(purchase_data)],
                             "Total Revenue": '$'+ str(total_rev)})
purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [4]:
unique=purchase_data.drop_duplicates('SN')
count = unique["Gender"].value_counts()
count.to_dict()
percent=round(unique["Gender"].value_counts(normalize=True), 2)*100
percent.to_dict()
unique_df=pd.DataFrame({"Total Count": count, "Percentage of players": percent})
unique_df

                       Total Count  Percentage of players
Male                           484                   84.0
Female                          81                   14.0
Other / Non-Disclosed           11                    2.0


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_count=purchase_data.groupby(["Gender"]).count()["Price"]
gender_count.to_dict()
average_price_gender=round(purchase_data.groupby(["Gender"]).mean()["Price"], 2)
average_price_gender.to_dict()
per_person=round(purchase_data.groupby(["Gender"]).sum()["Price"]/unique_df["Total Count"], 2)
per_person.to_dict()
gen_tot=purchase_data.groupby(["Gender"]).sum()["Price"]
gen_tot.to_dict()
purchasing_gender=pd.DataFrame({"Purchase Count": gender_count, "Average Purchase Price": average_price_gender,
                               "Total Purchase Value": gen_tot, "Avg Total Purchase Per Person": per_person})
purchasing_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, int(purchase_data["Age"].max())]
categories = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_demo = pd.cut(unique["Age"], bins, labels=categories, include_lowest=True)
age_count=age_demo.value_counts()
age_count.to_dict()
age_per=round(age_demo.value_counts(normalize=True), 2)*100
age_data=pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_per})
age_data

       Total Count  Percentage of Players
20-24          258                   45.0
15-19          107                   19.0
25-29           77                   13.0
30-34           52                    9.0
35-39           31                    5.0
10-14           22                    4.0
<10             17                    3.0
40+             12                    2.0

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_data["Age Groups"]=pd.cut(purchase_data["Age"], bins, labels=categories, include_lowest=True)
age_count=purchase_data.groupby(["Age Groups"]).count()["Price"]
age_count.to_dict()
average_price_age=round(purchase_data.groupby(["Age Groups"]).mean()["Price"], 2)
average_price_age.to_dict()
total_purchase_age=purchase_data.groupby(["Age Groups"]).sum()["Price"]
total_purchase_age.to_dict()
per_person_age=round(purchase_data.groupby(["Age Groups"]).sum()["Price"]/age_data["Total Count"], 2)
per_person_age.to_dict()
age_analysis=pd.DataFrame({"Purchase Count": age_count, "Average Purchase Price": average_price_age, 
                          "Total Purchase Value": total_purchase_age, "Avg Total Purchase per Person": per_person_age})
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
spend_count=purchase_data["SN"].value_counts()
spend_count.to_dict()
spend_total=purchase_data.groupby(["SN"]).sum()["Price"]
spend_total.to_dict()
spend_average=round(purchase_data.groupby(["SN"]).mean()["Price"], 2)
spend_average.to_dict()

{'Adairialis76': 2.28,
 'Adastirin33': 4.48,
 'Aeda94': 4.91,
 'Aela59': 4.32,
 'Aelaria33': 1.79,
 'Aelastirin39': 3.64,
 'Aelidru27': 1.09,
 'Aelin32': 2.99,
 'Aelly27': 3.39,
 'Aellynun67': 3.74,
 'Aellyria80': 3.08,
 'Aelollo59': 2.82,
 'Aenarap34': 2.96,
 'Aeral43': 4.4,
 'Aeral68': 4.0,
 'Aeral97': 4.8,
 'Aeralria27': 4.09,
 'Aeralstical35': 2.96,
 'Aeri84': 1.61,
 'Aerillorin70': 3.33,
 'Aerithllora36': 4.32,
 'Aerithnucal56': 4.4,
 'Aerithnuphos61': 4.91,
 'Aerithriaphos45': 1.56,
 'Aerithriaphos46': 2.18,
 'Aesri53': 1.76,
 'Aesty53': 1.96,
 'Aestysu37': 2.69,
 'Aesur96': 2.21,
 'Aesurstilis64': 1.03,
 'Aethedru70': 3.54,
 'Aidai53': 4.6,
 'Aidai61': 1.01,
 'Aidai73': 3.08,
 'Aidaillodeu39': 3.93,
 'Aidain51': 3.45,
 'Aidaira26': 4.23,
 'Aiduecal76': 3.79,
 'Aiduesu86': 4.48,
 'Aillyriadru65': 1.1,
 'Aillyrin83': 2.89,
 'Aina42': 3.07,
 'Aina43': 3.09,
 'Airi27': 3.45,
 'Aisur51': 1.14,
 'Aisurdru79': 1.76,
 'Aisurria69': 1.79,
 'Aithelis62': 3.39,
 'Alaephos75': 4.84,
 'Alaesu77': 2.49,
 'Alaesu91': 3.45,
 'Alarap40': 3.27,
 'Ali84': 2.15,
 'Alim85': 2.5,
 'Alo38': 1.0,
 'Anallorgue57': 2.85,
 'Ardcil81': 2.79,
 'Ardonmol96': 1.55,
 'Arin32': 4.54,
 'Arirgue63': 1.7,
 'Assassa81': 3.39,
 'Assassasta79': 3.32,
 'Assastnya25': 4.48,
 'Assehoan67': 1.75,
 'Assesi91': 1.54,
 'Assilsan72': 4.9,
 'Assim27': 1.7,
 'Assirra56': 3.19,
 'Assistasda42': 2.96,
 'Assistasda90': 4.35,
 'Assjaskan56': 2.96,
 'Assjaskan73': 1.7,
 'Assosia88': 1.33,
 'Assylla81': 4.18,
 'Asty82': 3.09,
 'Asur53': 2.48,
 'Asur96': 4.74,
 'Baelollodeu94': 4.51,
 'Bartassaya73': 3.06,
 'Caesrinusuir82': 2.59,
 'Ceoral34': 4.58,
 'Chadadarla74': 3.02,
 'Chadilsasta32': 2.14,
 'Chadirra90': 2.05,
 'Chadista79': 4.18,
 'Chadistaya75': 3.94,
 'Chadjask77': 4.93,
 'Chadjask85': 3.87,
 'Chadolyla44': 3.82,
 'Chadossa56': 1.98,
 'Chadossa89': 3.19,
 'Chamadar79': 3.14,
 'Chamadarnya73': 3.07,
 'Chamadarsda63': 3.92,
 'Chamalo71': 4.64,
 'Chamassasya86': 3.27,
 'Chamast86': 2.05,
 'Chamastya76': 2.05,
 'Chamilsala65': 4.28,
 'Chamiman85': 4.4,
 'Chamimla73': 4.8,
 'Chamimla85': 2.1,
 'Chamirra53': 2.68,
 'Chamirrasya33': 1.52,
 'Chamirraya83': 2.22,
 'Chamistast30': 3.58,
 'Chamjask73': 4.61,
 'Chamjaskya75': 2.84,
 'Chamossa77': 1.77,
 'Chanadar44': 3.19,
 'Chanastnya43': 2.94,
 'Chanastsda67': 3.7,
 'Chanastst38': 3.29,
 'Chanastya70': 3.58,
 'Chanilsasda38': 2.52,
 'Chanilsast61': 2.08,
 'Chanirra64': 1.54,
 'Chanirra79': 1.01,
 'Chanirrala39': 3.08,
 'Chanirrasta87': 4.94,
 'Chanista95': 3.16,
 'Chanjask65': 4.32,
 'Chanjaskan89': 2.58,
 'Chanosia34': 2.96,
 'Chanosia60': 2.71,
 'Chanosian48': 3.76,
 'Chanosiaya39': 1.97,
 'Chanossanya44': 3.14,
 'Chanossast57': 4.32,
 'Chanuchi25': 3.97,
 'Cosadar58': 4.35,
 'Dyally87': 4.99,
 'Ealiril69': 4.4,
 'Ealrion88': 4.48,
 'Ennalmol65': 4.88,
 'Ennoncil86': 1.74,
 'Ennrian78': 3.04,
 'Eodailis27': 2.88,
 'Eodairu79': 3.4,
 'Eodaisu60': 3.94,
 'Eolan54': 1.54,
 'Eoral49': 4.35,
 'Eoralrap26': 1.7,
 'Eosrirgue62': 3.08,
 'Eosurdru76': 1.79,
 'Eratiel90': 4.6,
 'Ermol76': 2.5,
 'Errian63': 3.49,
 'Eryon48': 1.1,
 'Ethralista69': 2.22,
 'Ethrasyon38': 2.04,
 'Ethriel85': 3.1,
 'Ethron58': 2.49,
 'Eudanu32': 2.85,
 'Eudanu84': 1.02,
 'Eulae84': 3.87,
 'Eulaestira36': 2.07,
 'Eulanurin88': 1.79,
 'Eulasuir89': 2.67,
 'Eulolis41': 2.67,
 'Eurisuru25': 2.18,
 'Eurithphos97': 2.28,
 'Eusri26': 3.27,
 'Eusri44': 3.09,
 'Eusri70': 3.67,
 'Eustyria89': 2.85,
 'Eusur90': 1.6,
 'Eusurdeu49': 2.47,
 'Euthe35': 1.03,
 'Eyircil84': 4.35,
 'Eyista89': 1.29,
 'Eyrian71': 2.6,
 'Farrian71': 3.08,
 'Farusrian86': 4.48,
 'Filrion59': 4.64,
 'Filrion83': 4.4,
 'Filurarn35': 4.91,
 'Firan91': 4.91,
 'Firatan58': 3.75,
 'Firon67': 3.53,
 'Fironon91': 4.08,
 'Frichadar89': 2.67,
 'Frichadaran88': 2.94,
 'Frichast28': 2.05,
 'Frichaststa61': 1.79,
 'Frichaya88': 3.93,
 'Frichilsa31': 1.44,
 'Frichim77': 1.88,
 'Frichirranya75': 4.23,
 'Frichjask31': 4.43,
 'Frichjaskan98': 1.02,
 'Frichocesta66': 4.19,
 'Frichosia58': 4.43,
 'Frichosiala98': 3.54,
 'Frichossala54': 3.08,
 'Frichynde86': 1.63,
 'Hada39': 2.86,
 'Haedairiadru51': 3.09,
 'Haeladil46': 3.81,
 'Haellysu29': 3.77,
 'Haerith37': 1.66,
 'Haerithp41': 4.4,
 'Haestyphos66': 1.97,
 'Hailaphos89': 3.81,
 'Haillyrgue51': 3.17,
 'Haisrisuir60': 3.43,
 'Haisurra41': 4.4,
 'Hala31': 1.02,
 'Halaecal66': 3.56,
 'Hallysucal81': 1.66,
 'Hari50': 2.96,
 'Hariphos58': 2.05,
 'Heollyra92': 3.07,
 'Heollyriap59': 3.47,
 'Heosurnuru52': 2.23,
 'Heudai45': 3.47,
 'Heuli25': 3.28,
 'Heunadil74': 1.54,
 'Hiaral50': 1.4,
 'Hiarideu73': 2.5,
 'Hiasri33': 3.74,
 'Hiasurria41': 1.61,
 'Hilaerin92': 3.61,
 'Hiral75': 1.98,
 'Hirirap39': 1.36,
 'Hisridru55': 3.08,
 'Hyaduesu61': 4.23,
 'Iadueria43': 1.71,
 'Ialallo29': 3.95,
 'Ialidru40': 3.16,
 'Iana95': 3.1,
 'Iarallo65': 1.75,
 'Iaralrgue74': 1.62,
 'Iaralsuir44': 3.81,
 'Iarilis73': 2.74,
 'Iasrira89': 3.12,
 'Iasur80': 1.66,
 'Iasurriacal29': 4.07,
 'Iasursti71': 1.66,
 'Iathem87': 3.19,
 'Iathenudil29': 4.6,
 'Idacal95': 2.07,
 'Idai61': 2.74,
 'Idaidil28': 3.8,
 'Idairin51': 3.5,
 'Idaisuir85': 3.15,
 'Idastidru52': 3.86,
 'Iduelis31': 1.1,
 'Iduenu77': 3.82,
 'Ilaesudil92': 4.35,
 'Ilarin91': 4.23,
 'Ilassa51': 2.22,
 'Ilassast39': 1.63,
 'Ilast79': 2.05,
 'Ilastilis78': 1.97,
 'Ili43': 2.18,
 'Ililsan66': 2.85,
 'Ililsasya43': 1.02,
 'Ilimya66': 4.23,
 'Ilirrasda54': 2.53,
 'Ilista82': 1.14,
 'Iljask75': 3.61,
 'Ilmol66': 3.08,
 'Ilosia37': 3.68,
 'Ilosian36': 4.58,
 'Ilosianya35': 2.84,
 'Ilunyon70': 3.54,
 'Ina92': 4.58,
 'Inasti31': 1.44,
 'Inasuir29': 4.4,
 'Indcil77': 4.35,
 'Indirrian56': 1.77,
 'Indonmol95': 3.3,
 'Ingatcil75': 1.56,
 'Inguron55': 3.7,
 'Iral74': 3.4,
 'Iri67': 3.79,
 'Irilis75': 1.02,
 'Irillo49': 3.79,
 'Irith83': 2.07,
 'Irithlis29': 4.86,
 'Iskadarya95': 4.37,
 'Iskichinya81': 2.47,
 'Iskim66': 3.46,
 'Iskim96': 1.33,
 'Iskirra45': 3.03,
 'Iskjaskst81': 2.21,
 'Iskosia90': 1.44,
 'Iskosian40': 3.07,
 'Iskossasda43': 4.35,
 'Isri34': 3.48,
 'Isty55': 4.08,
 'Isurria36': 1.02,
 'Isursti83': 1.54,
 'Isursuir31': 3.39,
 'Ithergue48': 4.88,
 'Itheria73': 2.18,
 'Jeyciman68': 2.05,
 'Jiskadarst60': 4.4,
 'Jiskassa76': 1.87,
 'Jiskimsda56': 1.14,
 'Jiskimya77': 2.99,
 'Jiskirran77': 3.39,
 'Jiskjask60': 2.22,
 'Jiskjask80': 4.19,
 'Jiskjask85': 1.33,
 'Jiskossa61': 3.16,
 'Laedallo55': 4.9,
 'Lalossa38': 3.77,
 'Lamil79': 4.64,
 'Lassadarsda57': 3.24,
 'Lassassasda30': 3.54,
 'Lassassast73': 4.65,
 'Lassilsala30': 3.84,
 'Lassimla92': 4.08,
 'Lassirrasda85': 3.44,
 'Lassjask63': 1.94,
 'Lassjaskan73': 2.5,
 'Layjask75': 1.7,
 'Leetirraya83': 3.29,
 'Leyirra83': 3.65,
 'Liawista80': 2.27,
 'Lirtassa52': 1.09,
 'Lirtassan78': 3.27,
 'Lirtastan49': 2.48,
 'Lirtastsda29': 3.42,
 'Lirtastsya71': 2.72,
 'Lirtilsa71': 4.94,
 'Lirtilsa72': 3.66,
 'Lirtim36': 1.33,
 'Lirtimst73': 2.19,
 'Lirtirra37': 3.14,
 'Lirtirra81': 1.56,
 'Lirtistanya48': 3.15,
 'Lirtosia63': 2.14,
 'Lirtossa60': 2.28,
 'Lirtossa84': 1.62,
 'Lisadar44': 1.98,
 'Lisasi93': 1.74,
 'Lisassa64': 2.89,
 'Lisassala98': 2.92,
 'Lisassasda39': 2.94,
 'Lisassasta50': 1.94,
 'Lisast87': 3.3,
 'Lisast98': 3.97,
 'Lisico81': 4.19,
 'Lisilsa62': 4.88,
 'Lisim51': 2.83,
 'Lisim78': 3.34,
 'Lisiriya82': 2.27,
 'Lisirra25': 2.52,
 'Lisirra58': 2.96,
 'Lisirra87': 4.23,
 'Lisista27': 3.47,
 'Lisista54': 1.92,
 'Lisista63': 1.74,
 'Lisjaskan36': 3.36,
 'Lisjaskya84': 2.89,
 'Lisopela58': 2.95,
 'Lisosia66': 3.65,
 'Lisosia93': 3.79,
 'Lisossa25': 1.56,
 'Lisossa46': 2.5,
 'Lisossala30': 4.35,
 'Lisossanya98': 3.44,
 'Lisotesta51': 1.94,
 'Lisovynya38': 1.56,
 'Malarrian73': 1.4,
 'Malil90': 2.18,
 'Malon70': 2.38,
 'Maluncil97': 2.64,
 'Malunil62': 3.76,
 'Maradaran90': 2.73,
 'Maradarnya40': 2.37,
 'Marassa62': 4.35,
 'Marast30': 3.53,
 'Maridisya31': 3.08,
 'Marilsa69': 2.62,
 'Marilsanya48': 3.03,
 'Marilsasya33': 1.35,
 'Marim28': 2.16,
 'Marirrasta50': 4.66,
 'Marjask87': 1.44,
 'Marokian45': 3.53,
 'Maropast28': 4.76,
 'Marughi89': 2.18,
 'Marundi65': 1.75,
 'Marynde90': 2.66,
 'Meosridil82': 4.9,
 'Mindadaran26': 3.75,
 'Mindesi74': 2.74,
 'Mindetosya30': 3.16,
 'Mindilsa34': 2.37,
 'Mindilsa60': 1.28,
 'Mindimnya67': 4.18,
 'Mindirranya33': 3.87,
 'Mindista32': 4.23,
 'Mindjasksya61': 2.6,
 'Mindossa76': 4.93,
 'Minduli80': 1.44,
 'Minduri31': 4.07,
 'Nitherian58': 1.84,
 'Palatyon26': 2.37,
 'Palyon91': 3.39,
 'Peorith44': 3.44,
 'Phaedasurap84': 3.82,
 'Phaedue89': 3.85,
 'Phaelap26': 3.32,
 'Phaena87': 1.83,
 'Phaestycal84': 1.98,
 'Pheodai94': 1.56,
 'Pheodaisun84': 2.77,
 'Pheosrinudeu70': 3.58,
 'Pheosurllorin41': 2.69,
 'Pheulidil31': 3.27,
 'Pheusrical25': 3.82,
 'Pheutherin27': 4.18,
 'Phiallylis33': 4.58,
 'Phiarithdeu40': 1.48,
 'Philodil43': 1.29,
 'Phiristi62': 1.79,
 'Phistym51': 4.75,
 'Phistyn52': 1.63,
 'Phyali88': 3.43,
 'Poshilsa82': 4.86,
 'Qarirwen82': 1.54,
 'Qilalista41': 1.02,
 'Qilanrion65': 3.03,
 'Qilatista90': 1.76,
 'Qilunan34': 4.58,
 'Quaecjask96': 4.4,
 'Quanenrian83': 2.27,
 'Quanrion96': 3.08,
 'Quanunwen42': 3.49,
 'Quaranmol58': 3.33,
 'Quarrion42': 4.23,
 'Quilassa66': 4.23,
 'Quinarap53': 3.54,
 'Raesty92': 2.91,
 'Raillydeu47': 1.97,
 'Rairin89': 3.45,
 'Rairith81': 2.22,
 'Raisty38': 3.27,
 'Rarallo90': 3.02,
 'Rastynusuir31': 2.27,
 'Raysistast71': 3.65,
 'Reulae52': 4.18,
 'Reunasu60': 4.41,
 'Rianistast50': 4.23,
 'Rilaera56': 4.08,
 'Ririp86': 4.94,
 'Risty84': 4.6,
 'Ristydru66': 1.87,
 'Rithe53': 3.39,
 'Ryanara76': 3.47,
 'Saedaiphos46': 2.94,
 'Saelaephos52': 3.18,
 'Saena74': 4.74,
 'Saena89': 3.41,
 'Saerallora71': 4.43,
 'Saesrideu94': 4.59,
 'Saida58': 1.03,
 'Saisrilis27': 1.75,
 'Saistyphos30': 3.44,
 'Salilis27': 4.23,
 'Sally64': 1.33,
 'Sastydeu50': 2.18,
 'Sausosia74': 3.3,
 'Seolollo93': 3.41,
 'Seosrim97': 2.68,
 'Seudaillorap38': 3.36,
 'Seuthep89': 2.05,
 'Shaidanu32': 3.08,
 'Shidai42': 1.33,
 'Siala43': 3.63,
 'Siallylis44': 3.46,
 'Siana77': 1.97,
 'Siarithria38': 3.46,
 'Sida61': 2.72,
 'Sidap51': 4.24,
 'Silaera56': 2.83,
 'Siralsudeu54': 1.23,
 'Sisur91': 4.19,
 'Smaistysu35': 3.34,
 'Sondadar26': 3.24,
 'Sondadarya58': 1.75,
 'Sondassan80': 2.6,
 'Sondassasya91': 3.81,
 'Sondastsda82': 2.63,
 'Sondilsaya62': 3.14,
 'Sondim68': 2.83,
 'Sondim73': 4.4,
 'Sondimla25': 4.32,
 'Sondistanya61': 3.45,
 'Sondossa69': 4.48,
 'Strithenu87': 3.39,
 'Styaduen40': 1.66,
 'Sundadar27': 4.35,
 'Sundadarla27': 2.85,
 'Sundassa93': 2.45,
 'Sundim98': 4.75,
 'Sundirrala66': 3.89,
 'Sundista37': 1.77,
 'Sundjask71': 4.0,
 'Syally44': 2.23,
 'Syalollorap93': 4.24,
 'Syathe73': 1.4,
 'Syathecal44': 2.42,
 'Taeduenu92': 4.4,
 'Thourdirra92': 1.44,
 'Thrientossa55': 2.85,
 'Thryallym62': 2.05,
 'Tyaedainu44': 3.54,
 'Tyaelaelis94': 4.4,
 'Tyaelistidru84': 3.26,
 'Tyaelly53': 2.07,
 'Tyaelo67': 4.88,
 'Tyaelorap29': 3.86,
 'Tyaenasti87': 4.4,
 'Tyaerith73': 1.71,
 'Tyalaesu89': 2.96,
 'Tyananurgue44': 3.27,
 'Tyarithn67': 1.14,
 'Tyeoralru41': 2.94,
 'Tyeosri53': 2.96,
 'Tyeudariasuir90': 3.58,
 'Tyeuduen32': 4.05,
 'Tyeurith29': 3.65,
 'Tyialisti80': 4.14,
 'Tyialisudeu65': 2.53,
 'Tyida79': 3.7,
 'Tyidaim51': 3.94,
 'Tyidainu31': 2.49,
 'Tyirinu79': 4.24,
 'Tyisur83': 1.79,
 'Umolrian85': 2.71,
 'Undare39': 2.02,
 'Undassa89': 1.76,
 'Undilsan50': 1.79,
 'Undimsya85': 3.46,
 'Undirra73': 2.89,
 'Undirrala66': 2.74,
 'Undirrasta89': 1.94,
 'Undista85': 3.45,
 'Undjask33': 1.1,
 'Undjaskla97': 2.66,
 'Undosia27': 3.77,
 'Undosian34': 4.15,
 'Undotesta33': 4.74,
 'Wailin72': 2.73,
 'Yadacal26': 3.27,
 'Yadaisuir65': 4.09,
 'Yadam35': 2.48,
 'Yadanu52': 2.38,
 'Yadaphos40': 2.68,
 'Yalae81': 3.34,
 'Yalaeria91': 1.06,
 'Yaliru88': 3.03,
 'Yalo85': 3.65,
 'Yalostiphos68': 4.4,
 'Yana46': 3.55,
 'Yarithllodeu72': 3.75,
 'Yarithrgue83': 3.45,
 'Yarithrin84': 4.14,
 'Yarithsurgue62': 4.94,
 'Yarolwen77': 4.43,
 'Yasrisu92': 3.44,
 'Yastyriaphos75': 4.75,
 'Yasur35': 4.48,
 'Yasur85': 1.1,
 'Yathecal72': 3.46,
 'Yathecal82': 2.07,
 'Yathedeu43': 3.01,
 'Yoishirrala98': 4.58,
 'Zhisrisu83': 3.94,
 'Zontibe81': 2.68}

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame