### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

* Display the total number of players

## Player Count

In [2]:
player_num=len(purchase_data["SN"].unique())
playerbase_df=pd.DataFrame({'Total players':[player_num]})
playerbase_df

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
ave_price = round(purchase_data["Price"].mean(), 2)
total_rev = purchase_data["Price"].sum()
purchasing_df = pd.DataFrame({"Number of Unique Items":[len(purchase_data["Item Name"].unique())], 
                             "Average Price": '$'+ str(ave_price), 
                             "Number of Purchases": [len(purchase_data)],
                             "Total Revenue": '$'+ str(total_rev)})
purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [4]:
unique=purchase_data.drop_duplicates('SN')
count = unique["Gender"].value_counts()
count.to_dict()
percent=round(unique["Gender"].value_counts(normalize=True), 2)*100
percent.to_dict()
unique_df=pd.DataFrame({"Total Count": count, "Percentage of players": percent})
unique_df

                       Total Count  Percentage of players
Male                           484                   84.0
Female                          81                   14.0
Other / Non-Disclosed           11                    2.0


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
gender_count=purchase_data.groupby(["Gender"]).count()["Price"]
gender_count.to_dict()
average_price_gender=round(purchase_data.groupby(["Gender"]).mean()["Price"], 2)
average_price_gender.to_dict()
per_person=round(purchase_data.groupby(["Gender"]).sum()["Price"]/unique_df["Total Count"], 2)
per_person.to_dict()
gen_tot=purchase_data.groupby(["Gender"]).sum()["Price"]
gen_tot.to_dict()
purchasing_gender=pd.DataFrame({"Purchase Count": gender_count, "Average Purchase Price": average_price_gender,
                               "Total Purchase Value": gen_tot, "Avg Total Purchase Per Person": per_person})
purchasing_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, int(purchase_data["Age"].max())]
categories = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_demo = pd.cut(unique["Age"], bins, labels=categories, include_lowest=True)
age_count=age_demo.value_counts()
age_count.to_dict()
age_per=round(age_demo.value_counts(normalize=True), 2)*100
age_data=pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_per})
age_data

       Total Count  Percentage of Players
20-24          258                   45.0
15-19          107                   19.0
25-29           77                   13.0
30-34           52                    9.0
35-39           31                    5.0
10-14           22                    4.0
<10             17                    3.0
40+             12                    2.0

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
purchase_data["Age Groups"]=pd.cut(purchase_data["Age"], bins, labels=categories, include_lowest=True)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [10]:
age_count=purchase_data.groupby(["Age Groups"]).count()["Price"]
age_count

Age Groups
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [14]:
average_price_age=round(purchase_data.groupby(["Age Groups"]).mean()["Price"], 2)
average_price_age

Age Groups
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [15]:
total_purchase_age=purchase_data.groupby(["Age Groups"]).sum()["Price"]
total_purchase_age

Age Groups
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [18]:
per_person_age=round(purchase_data.groupby(["Age Groups"]).sum()["Price"]/age_data["Total Count"], 2)
per_person_age

<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame