### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

* Display the total number of players

## Player Count

In [2]:
player_num=len(purchase_data["SN"].unique())
playerbase_df=pd.DataFrame({'Total players':[player_num]})
playerbase_df

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
ave_price = round(purchase_data["Price"].mean(), 2)
total_rev = purchase_data["Price"].sum()
purchasing_df = pd.DataFrame({"Number of Unique Items":[len(purchase_data["Item Name"].unique())], 
                             "Average Price": '$'+ str(ave_price), 
                             "Number of Purchases": [len(purchase_data)],
                             "Total Revenue": '$'+ str(total_rev)})
purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [4]:
unique=purchase_data.drop_duplicates('SN')
count = unique["Gender"].value_counts()
count.to_dict()
percent=round(unique["Gender"].value_counts(normalize=True), 2)
percent.to_dict()
unique_df=pd.DataFrame({"Total Count": count, "Percentage of players": percent})
unique_df

                       Total Count  Percentage of players
Male                           484                   0.84
Female                          81                   0.14
Other / Non-Disclosed           11                   0.02


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, int(purchase_data["Age"].max())]
categories = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_demo = pd.cut(unique["Age"], bins, labels=categories, include_lowest=True)
age_count=age_demo.value_counts()
age_count.to_dict()
age_per=round(age_demo.value_counts(normalize=True), 2)*100
age_data=pd.Data

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame